/* Sticky footer styles
-------------------------------------------------- */
        .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
            padding: 3px;
        }

        .bold_for_new {
            font-weight: bold;
        }

        .notyCloseButton {
            position: relative;
            float: right;
        }
        
        
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.posada_class{
   width: 240px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.pointer-cursor {
cursor: pointer;
}

.pagination {
	margin: 0px 0;
}

.ui-autocomplete {
position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

}
.ui-autocomplete .source:hover {
    background: orange;
}

.ui-menu .ui-menu-item a {
display: block;
    padding: 3px 15px;
    clear: both;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

.ui-menu .ui-menu-item a:hover {
      color: #ffffff;
      text-decoration: none;
      font-size: 12px;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
}

.btn-pay {
   background-color: hsl(35, 100%, 55%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc97f", endColorstr="#ff9f19");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc97f), to(#ff9f19));
  background-image: -moz-linear-gradient(top, #ffc97f, #ff9f19);
  background-image: -ms-linear-gradient(top, #ffc97f, #ff9f19);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc97f), color-stop(100%, #ff9f19));
  background-image: -webkit-linear-gradient(top, #ffc97f, #ff9f19);
  background-image: -o-linear-gradient(top, #ffc97f, #ff9f19);
  background-image: linear-gradient(#ffc97f, #ff9f19);
  border-color: #ff9f19 #ff9f19 hsl(35, 100%, 50%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  }
  
  
  .btn-gp {
  background-color: hsl(312, 80%, 25%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e830c3", endColorstr="#720c5e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e830c3), to(#720c5e));
  background-image: -moz-linear-gradient(top, #e830c3, #720c5e);
  background-image: -ms-linear-gradient(top, #e830c3, #720c5e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e830c3), color-stop(100%, #720c5e));
  background-image: -webkit-linear-gradient(top, #e830c3, #720c5e);
  background-image: -o-linear-gradient(top, #e830c3, #720c5e);
  background-image: linear-gradient(#e830c3, #720c5e);
  border-color: #720c5e #720c5e hsl(312, 80%, 17.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
  -webkit-font-smoothing: antialiased;
}


.btn-fd {
  background-color: hsl(346, 80%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e72754", endColorstr="#c5153e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e72754), to(#c5153e));
  background-image: -moz-linear-gradient(top, #e72754, #c5153e);
  background-image: -ms-linear-gradient(top, #e72754, #c5153e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e72754), color-stop(100%, #c5153e));
  background-image: -webkit-linear-gradient(top, #e72754, #c5153e);
  background-image: -o-linear-gradient(top, #e72754, #c5153e);
  background-image: linear-gradient(#e72754, #c5153e);
  border-color: #c5153e #c5153e hsl(346, 80%, 40.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}